body {
    font-family: 'Poppins' , sans-serif;
}

.img-logo {
    width: 30px;
    height: auto;
}

.category {
    width: 100%;
}

#category-desc h2{
    color: #dec700;
    font-weight: bold;
    text-decoration: underline;
}

.category hr {
    color: #dec700;
    border: 2px solid;
    margin-right: 89%;
}

.category h3 {
    color: #dec700;
}

.d-flex .card {
    width: 16rem;
    height: 8rem;
    cursor: pointer;
    background-size: cover;
    backdrop-filter: blur(20px);
    position: relative;
    overflow: hidden;
}

.card .card-img {
    width: 100%;
    object-fit: cover;
    height: min-content;
}

.card .glass-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(29, 29, 29, 0.25);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    color: whitesmoke;
}

.card .glass-overlay p {
    font-size: 1.2rem;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.ingredients {
    text-align: justify;
}

#meal-filter img {
    object-fit: cover;
}